header {
  /* overflow: hidden; */
  color: #000000;
}

header ul { /* Overwrite default properties... */
  display: block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

header li {
  display: inline-block;
}

header a {  /* Default properties for links inside the header... */
  display: inline-block;  /* Default is inline, but will not make padding work... */
  color: #555555;
  font-weight: 400;
  text-decoration: none;
  vertical-align: top;
}

header a.current-path {
  border-bottom: 3px solid #000000;
  color: #000000;
  font-weight: 500;
}

header a::after { /* Create a non-visible element which simulates bold text... */
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 1px;
  content: attr(content);
  color: transparent;
  font-weight: 500;
}

header a:visited {
  /* color: #555555; */
}

header a:hover {
  color: #000000;
  transition: color 0.5s;
}



.bar-container {
  /*
  The following properties are useful for vertically center all child elements...
  Currently they are not necessary...
  display: flex;
  align-items: center;
  justify-content: space-between;
  */
  overflow: hidden;
  max-width: 1024px;
  margin: auto;  /* Automatic margin centers the elements... */
}

.main-head-bar {
  /* overflow: hidden; */
  background-color: #ffffff;
  color: #555555;
}

.main-head-bar a {
  padding: 16px 8px;
}

.main-head-bar a.current-path {
  padding-bottom: 13px; /* Taking into account border space... */
}

.sub-head-bar {
  /* overflow: hidden; */
  background-color: #efefef;
  color: #555555;
  /* background-color: #98d2eb; */
}

.sub-head-bar a {
  padding: 8px;
}

.sub-head-bar a.current-path {
  padding-bottom: 5px;
}

.site-logo {
  float: left;
  padding: 0px 8px;
}

.nav-bar {
  float: right;
  padding: 0px 8px;
}
