/*
  @import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
*/

* {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  /*
    font-family: "Averta", "Monoid";
    font-family: 'Hind';
  */
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

body {
  /*
    background-color: #409FFF;
  */
  background: linear-gradient(150deg, #0030BF -50%, #4070FF 100%);
  background-attachment: fixed;
}


/*
  XXX Header style is defined in header.css file!
*/


.landing-content {
  color: white;
}

.landing-column {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  min-height: 768px;
}

.landing-cell {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}


.landing-cell .headers {
  margin-top: 50px;
  margin-bottom: 50px;
}

.headers h1 {
  display: block;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}

.headers h3 {
  font-size: 24px;
  text-align: center;
}


.landing-cell .rectangle {
  position: relative;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  width: 250px;
  height: 50px;
  border: 2px solid white;
}

.landing-cell .rectangle:hover {
  background-color: white;
  color: darkblue;
}

.landing-cell .link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  font-size: 32px;
}

.landing-cell a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.landing-cell a:visited {
  color: inherit;
}


/*
  XXX Footer style is defined in footer.css file!
*/
